#canvas
:javascript
  var converter_url_prefix = "#{data_converters_path()}";
  var update_converter_positions_path = "#{data_layout_path}";
  var data;

  $.getJSON(data_json_url, function(json_data) {
    data = json_data;
    for (var node_key in data['present']) {
      for (var key in data['present'][node_key]) {
        $('#attribute').append($('<option></option>').val(key).html(key));
      }
      // We only need to use the first element to build the list of attributes
      break;
    }
  })
  $(function(){
    $("#instructions").draggable();
  });

  #{render partial: 'topology.js', formats: [:js]}
