#canvas
:javascript
  var converter_url_prefix = "#{data_converters_path()}";
  var update_converter_positions_path = "#{data_layout_path}";
  var data;

  $.getJSON(data_json_url, function(json_data) {
    data = json_data;
    for (var key in data['present']['1']) {
      $('#attribute').append($('<option></option>').val(key).html(key));
    }
  })
  $(function(){
    $("#instructions").draggable();
  });

  #{render 'topology.js'}
