- breadcrumb link_to("ETSource", etsource_root_path)

.row
  .compat-warning.span8.alert.alert-error
    %h3(style="font-size: 16px") Please confirm this ETSource import
    This release of ETEngine has more recent versions of Atlas and Refinery than
    were used to test your chosen ETSource import. While it is likely the
    import will work, please check the versions below before deciding how to
    proceeed.
    %div(style="padding: 15px 0 5px")
      %a.btn.btn-large.btn-success{ href: import_etsource_commit_path(id: params[:id], force: true) } Import ETSource
      %a.btn.btn-large.btn-inverse{ href: etsource_commits_path } Cancel

.commit-group
  %h4 Atlas Versions
  .commit
    .action
      .commit-label ETEngine
    = render(partial: 'commit', locals: { commit: @commit.atlas.loaded_commit })
  .commit
    .action
      .commit-label ETSource
    = render(partial: 'commit', locals: { commit: @commit.atlas.needed_commit })

.commit-group
  %h4 Refinery Versions
  .commit
    .action
      .commit-label ETEngine
    = render(partial: 'commit', locals: { commit: @commit.refinery.loaded_commit })
  .commit
    .action
      .commit-label ETSource
    = render(partial: 'commit', locals: { commit: @commit.refinery.needed_commit })
