- breadcrumb link_to("ETSource", etsource_root_path)

%h2 Commit did not import successfully; rolled back.

%h3
  Message
  %span(style="font-weight: normal; color: #777")
    == (#{ @exception.class.name })

%pre
  = @exception.message

%h3 Backtrace

%pre
  - @exception.backtrace.each do |line|
    = line
