- breadcrumb link_to("ETSource", etsource_root_path)

%h2 Commit imported, cache cleared.

%p
  %h4{style: "color: red"}
    Test that everything worked:
    = link_to "Verify that dashboard is working", etsource_commit_path(id: 'current')
