%h1= @gql_test_case.name
%p= @gql_test_case.description

:javascript  
  describe("For country NL, end_year 2050", function() {
    beforeEach(function() { this.addMatchers(customMatchers); });
    
    // All the indivudual gquery test cases. 
    // This will be probably be from @gql_test_case.test_cases [text-column]
    #{@gql_test_case.instruction}
  });
  
  function run_tests() {
    jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
    jasmine.getEnv().execute();
  }
  
  // Make an API call. When complete runs the test-suites
  load_queries(run_tests);
