<div class="mb-12 text-base"<% if @id %> id="<%= @id %>"<% end %>>
  <div class="flex items-center mb-8">
    <div>
      <h2 class="text-3xl font-semibold">
        <%= @title %>
      </h2>
    </div>

    <% if header_right? %>
      <div class="text-base ml-auto font-medium">
        <%= header_right %>
      </div>
    <% end %>
  </div>

  <%= content %>
</div>
