<div class="bg-gray-50 px-10 py-8 text-base border rounded-md">
  <h3 class="font-semibold text-xl mb-2">
    <%= @title %>
  </h3>

  <div class="text-gray-500 space-y-2">
    <%= content %>
  </div>

  <% if buttons? %>
    <div data-testid="buttons" class="mt-6 flex items-center justify-start gap-4">
      <%= buttons %>
    </div>
  <% end %>
</div>
