<div class="border-b pb-12 mb-6 w-full">
  <div class="flex items-center mb-4">
    <h2 class="text-3xl font-semibold mr-auto">
      <%= @title %>
    </h2>

    <%= actions %>
  </div>

  <% if @message %>
    <p class="text-gray-500 mb-4">
      <%= @message %>
    </p>
  <% end %>
</div>
