<div class="flex items-center mb-4">
  <div>
    <h2 class="text-3xl font-semibold">
      <%= @title %>
    </h2>
  </div>

  <% if header_right? %>
    <div class="ml-auto font-medium">
      <%= header_right %>
    </div>
  <% end %>
</div>

<% if @message %>
  <p class="text-gray-500 mb-4">
    <%= @message %>
  </p>
<% end %>
