<%= render(Identity::RowComponent.new(title: @title)) do %>
  <div class="pb-8">
    <div class="font-medium"><%= content %></div>

    <% if message? %>
      <div class="text-gray-500 mt-2 text-sm"><%= message %></div>
    <% end %>

    <% if button? %>
      <div class="mt-4 flex gap-4 text-sm">
        <%= button %>
      </div>
    <% end %>
  </div>
<% end %>
