<%= link_to @path, class: "block relative border-l-2 pl-4 pr-6 py-4 rounded-r-md transition #{css_classes}" do %>
  <span class="font-medium text-base flex align-center"><%= @title %></span>
  <span class="mt-1 text-sm text-gray-500 leading-5 block"><%= @explanation %></span>
<% end %>
