- breadcrumb link_to "Energy Balance Groups", data_energy_balance_groups_path
- breadcrumb link_to @energy_balance_group.name, data_energy_balance_group_path(:id => @energy_balance_group.name)
- breadcrumb 'Edit'

= render 'form'