= render "data/shared/data_subnav"

.row
  .span12
    .page-header
      %h2 Energy Balance Groups
    .alert
      You can edit Energy Balance Groups, delete and add them in the InputExcel.

    %table.table.table-condensed
      %thead
        %tr
          %th.span1 Id
          %th.span1 Color
          %th Name
      %tbody
        - @energy_balance_groups.each do |e|
          %tr
            %td= e.id
            %td
              %span.label{:style => "background-color: #{e.graphviz_color}"}= e.graphviz_color
            %td
              = e.name
