%section#search_box
  = form_tag data_converters_path, :method => :get do
    = search_field_tag :q, params[:q]    
    = submit_tag "search"
- content_for :footer do
  :ruby
    autocomplete = Carrier.all.map {|a| {label: a.key, url: edit_data_carrier_carrier_data_path(:carrier_id => a.id)} }
  :javascript
    $(function(){
      $("input#q").autocomplete({
        source: #{autocomplete.to_json},
        select: function(event, ui) { window.location.href = ui.item.url }
      });
    });
