.page-header .graph-name {
  background: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  color: #444;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin-right: 0.5rem;
  padding: 2px 10px;
  text-shadow: none;
}

.node-edges > tbody > tr > td {
  border-top: none;
  padding-top: 0;
  padding-bottom: 0;
}

.node-edges > tbody > tr > td:first-child {
  padding-left: 0;
}

.node-edges > tbody > tr > td:last-child {
  padding-right: 0;
}

.node-edges .aggregate-demand {
  color: #999;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  margin-left: 5px;
}

.node-edges .carrier-name {
  font-weight: bold;
}

.node-edges .carrier-name a {
  color: #333;
}

.node-edges th.share,
.node-edges th.energy,
.node-edges th.type {
  width: 80px;
}

.node-edges .edges {
  padding: 0;
}

.node-edges .edges .table {
  margin-bottom: 0;
}

.node-edges .edges .table th {
  background: #f5f5f5;
}

.node-edges .edges .table th:first-child,
.node-edges .edges .table td:first-child {
  border-left: none !important;
}

.node-edges .edges .value,
.node-edges .edges .share {
  white-space: nowrap;
}

.node-edges .edges th {
  white-space: nowrap;
}

.node-edges .edges .more-info {
  color: #999;
  display: block;
  font-size: 12px;
}

.node-edges .edges .more-info a {
  color: #999;
}

.node-edges .edges .more-info a:hover {
  color: #005580;
}

.node-edges .edges .more-info strong {
  color: #555;
  font-weight: normal;
  margin-left: 0.375rem;
}

.node-edges tr.carrier > td {
  border-top-width: 2px;
}
