#panel
  float: left
  width: 250px
  height: 100%
  overflow: auto
  background-color: white
  ul
    li
      padding: 5px
      &:nth-child(odd)
        background-color: #eee
      a
        text-decoration: none
        .id
          font-family: Courier, monospace
          font-size: 12px
        .sector, .use
          font-size: 10px
