#panel
  float: left
  width: 250px
  height: 100%
  overflow: auto
  background-color: white
  margin-right: 10px
  border-right: 1px solid #ddd
  border-bottom: 1px solid #ddd
  input
    width: 100%
  ul
    li
      padding: 5px
      &:nth-child(odd)
        background-color: #eee
      a
        color: #333
        text-decoration: none
        .id
          font-family: Courier, monospace
          font-size: 12px
        .sector, .use
          font-size: 10px
