@mixin shadow($color: #333333) {
  -moz-box-shadow: 0 2px 3px 3px $color;
  -webkit-box-shadow: 0 2px 3px 3px $color;
  box-shadow: 0 2px 3px 3px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#{$color}')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
}

@mixin gradient($color1, $color2) {
  background-color: $color1;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#{$color1}"}, endColorstr="#{$color2}");
  background-image: -moz-linear-gradient(center top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}