html
  height: 100%
  background: #fff

body
  margin: 0
  height: 100%
  font: 13px/20px Lucida Grande, Verdana, Arial, Helvetica, sans-serif

h1
  line-height: 1em
img
  border-style: none

img, div 
  behavior: url(/iepngfix/iepngfix.htc)
a
  color: #63A0C9
  &:hover
    //text-decoration: none

input.button
  cursor: pointer

input, textarea, select
  font: 100% arial,sans-serif
  vertical-align: middle

form, fieldset
  margin: 0
  padding: 0
  border: none

//separate model from pages
body#model #wrapper
  min-height: 100%  
  
#wrapper
  min-width: 980px
  width: 100%
  position: relative
//separate model from pages  
* html body#model #wrapper
  height: 100%
  overflow: visible

#content
  position: relative
  min-width: 950px
  max-width: 1230px
  margin: 0 auto

  #flash
    position: absolute
    left: 50%
    top: 150px
    background: #FFF1A8
    width: 400px
    margin-left:  -200px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px

    &.error
      background: #ff9999
    &.error a
      color: white
    p
      padding: 1px 10px
      margin: 0

table.default
  thead th
    :background #5DA1CB
    :border-bottom 1px solid #999
    a
      color: white
  td,th
    padding: 2px 4px 
  td
    :vertical-align top
    :border-right 1px solid #ddd
  tr.odd 
    td,th
      :background-color #eee

.tar
  text-align: right
.tal
  text-align: left
.tac
  text-align: center

.clear
  clear: both
  
@import fancybox
@import "home"
@import shadowbox
