@import 'data_reset'

body
  margin: 0
  height: 100%
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif

#header
  background-color: #ccc
  padding: 10px
  border-bottom: 1px solid #bbb
#menu
  background-color: #ddd
  padding: 10px
  border-bottom: 1px solid #ccc
#flash
  .flash
    text-align: center
    padding: 10px
    border: 1px solid
    margin: 5px
  .notice
    color: green
    background-color: #BAFFB7
  .alert
    color: red
    background-color: #FDBABC

img
  border-style: none

img, div 
  behavior: url(/iepngfix/iepngfix.htc)
a
  color: #63A0C9

table
  thead th
    background: #5DA1CB
    border-bottom: 1px solid #999
    a
      color: white
  td,th
    padding: 2px 4px 
  td
    vertical-align: top
    border-right: 1px solid #ddd
  tr.odd 
    td,th
      background-color: #eee

.clear
  clear: both

@import '_simple_form'
