body#converter_detail
  font: 13px/20px Lucida Grande, Verdana, Arial, Helvetica, sans-serif
  h1
    text-align: center
  table
    border-collapse: collapse
    thead
      th
        background: #4D8EBF
        border: 1px solid #ccc
    tbody
      td
        border: 1px solid #ccc
  