@import "data_reset"
@import "data_panel"
@import "data_specific"
@import "data_typography"

#header
  :height 30px
  :background url(/images/layout/bg-header-inner.gif) repeat-x
  :color #fff
  :line-height 28px
#subheader
  height: 30px
  background-color: #95C4EC
  nav
    ul
      list-style-type: none
      li
        padding: 5px
        float: left
        a
          width: 100px
          text-decoration: none

#content
  clear: both
  .header
    :font-size 16px
    :margin-bottom 10px
    :line-height 26px
#footer
  clear: both

#notice
  :background #090
  :padding 5px 10px
  :color #fff
  :margin-bottom 5px
    
table
  :border-top 1px solid #ccc
  :border-left 1px solid #ccc
  thead
    th
      :text-align center
      :background #ddd
      :padding 5px
  th,td
    :border-right 1px solid #ccc
    :border-bottom 1px solid #ccc
    :padding 3px
  tbody
    th
      :text-align left
      :font-weight normal
  tbody.numeric_rows
    td
      :text-align right

table.data
  :table-layout fixed
  th
    :width 400px
  td
    :width 120px