@import "data_reset"
@import "mixins"
@import "data_panel"
@import "data_specific"
@import "data_typography"
@import "simple_form"

#header
  @include gradient(#6a7176, #4d5256)
  height: 30px
  color: #CDCDCD
  line-height: 28px
  label
    text-shadow: #000000 0 1px 0
  nav
    ul
      list-style-type: none
      li, a
        color: #CDCDCD
        text-shadow: #000000 0 1px 0
      li
        float: right
        padding: 0px 5px
        a
          text-decoration: none
          &:hover
            color: red
#subheader
  @include gradient(#C4C4C4, #B0B1B2)
  height: 30px
  line-height: 20px
  border-bottom: 1px solid #919191
  nav
    ul
      list-style-type: none
      li
        padding: 5px 10px 5px 5px
        float: left
        border-right: 1px solid #919191
        a
          color: #3A3E41
          width: 100px
          text-decoration: none
        &:hover
          background-color: white

#content
  clear: both
  .header
    color: #5e6469
    @include gradient(#efefef, #dfe1e2)
    border-bottom: 1px solid #ededed
    font-size: 18px
    font-weight: bold
    text-shadow: #ffffff 0 1px 0
    margin-bottom: 10px
    line-height: 33px
    height: 35px
  section.main
    width: 1000px
    float: left
#footer
  clear: both

#notice
  :background #090
  :padding 5px 10px
  :color #fff
  :margin-bottom 5px

section#search_box
  @include gradient(#efefef, #dfe1e2)
  padding: 5px
  border-bottom: 1px solid #919191
  input[type=search]
    width: 200px

table
  margin: 15px
  border: 1px solid #ccc
  thead
    th
      :text-align center
      :background #ddd
      :padding 5px
  th,td
    border: 1px solid #ccc
    padding: 3px
  tbody
    th
      :text-align left
      :font-weight normal
    tr:nth-child(odd)
      background-color: #eee
    td
      &.tar
        text-align: right
  tbody.numeric_rows
    td
      :text-align right
