%h2 Blueprint details

= @blueprint.name

%h3 Datasets

%table
  %thead
    %tr
      %th Id
      %th Region Code
  %tbody
    - for d in @blueprint.datasets
      %tr
        %td= d.id
        %td= d.region_code