html {
  height: 100%;
  background: white; }

body {
  margin: 0;
  height: 100%;
  font: 13px/20px Lucida Grande, Verdana, Arial, Helvetica, sans-serif; }

h1 {
  line-height: 1em; }

img {
  border-style: none; }

img, div {
  behavior: url(/iepngfix/iepngfix.htc); }

a {
  color: #63a0c9; }

input.button {
  cursor: pointer; }

input, textarea, select {
  font: 100% arial, sans-serif;
  vertical-align: middle; }

form, fieldset {
  margin: 0;
  padding: 0;
  border: none; }

body#model #wrapper {
  min-height: 100%; }

#wrapper {
  min-width: 980px;
  width: 100%;
  position: relative; }

* html body#model #wrapper {
  height: 100%;
  overflow: visible; }

#content {
  position: relative;
  margin: 0 auto; }
  #content #flash {
    background: #fff1a8;
    width: 400px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
    #content #flash.error {
      background: #ff9999; }
    #content #flash.error a {
      color: white; }
    #content #flash p {
      padding: 1px 10px;
      margin: 0; }

table.default thead th {
  background: #5da1cb;
  border-bottom: 1px solid #999999; }
  table.default thead th a {
    color: white; }
table.default td, table.default th {
  padding: 2px 4px; }
table.default td {
  vertical-align: top;
  border-right: 1px solid #dddddd; }
table.default tr.odd td, table.default tr.odd th {
  background-color: #eeeeee; }

.tar {
  text-align: right; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.clear {
  clear: both; }
  .clear p.button {
    float: right;
    height: 22px;
    margin: 0px;
    background: #63a1c9;
    border: 1px solid black; }
    .clear p.button p.button a.button, .clear p.button p.button input.button {
      background: none;
      border: 0px;
      text-decoration: none;
      color: white; }
  .clear a.button, .clear input.button {
    border: 1px solid black;
    padding: 5px 10px;
    background: #63a1c9;
    text-decoration: none;
    color: white; }
  .clear a.button:hover, .clear input.button:hover {
    background: #568cb0; }
  .clear input {
    font-family: inherit; }

h1 {
  font-family: Georgia, Times New Roman;
  font-weight: normal; }

#overlay_container {
  width: 600px;
  overflow-x: hidden; }
  #overlay_container p {
    display: block;
    float: left; }
    #overlay_container p img {
      float: left; }

#select_charts {
  overflow-x: hidden;
  width: 760px;
  height: 600px;
  overflow-y: auto;
  padding: 20px; }
  #select_charts p label {
    width: 100px;
    float: left; }
  #select_charts a {
    cursor: pointer; }
  #select_charts div:hover {
    background: #dfe8f3; }
  #select_charts h1 {
    clear: both; }
  #select_charts div {
    padding: 10px;
    float: left;
    width: 140px;
    height: 140px;
    margin-right: 20px; }
    #select_charts div h2 {
      font-size: 100%;
      margin: 0; }
    #select_charts div p {
      font-size: 100%;
      color: black; }

#feedback_form {
  padding: 20px;
  width: 500px; }
  #feedback_form p label {
    width: 100px;
    float: left; }
  #feedback_form .errors {
    height: 20px;
    width: 90%;
    color: red; }

#select_curve {
  width: 820px;
  padding: 20px; }
  #select_curve p {
    font-size: 100%;
    color: black; }

#tutorial_wrapper {
  background: transparent;
  overflow: hidden;
  height: 290px;
  width: 930px; }
  #tutorial_wrapper iframe {
    float: left; }
  #tutorial_wrapper h3 {
    padding: 0;
    margin: 8px 0 0 0;
    text-align: center; }
  #tutorial_wrapper p {
    height: 40px; }
  #tutorial_wrapper div {
    background: white;
    float: left;
    width: 450px;
    margin: 0;
    border: 4px solid white; }
  #tutorial_wrapper .left_movie {
    margin-right: 10px; }

.simple_form div.input {
  margin-bottom: 10px; }
.simple_form label {
  float: left;
  width: 200px;
  text-align: right;
  margin: 2px 10px; }
.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 220px;
  font-size: 12px; }
.simple_form .hint {
  clear: left;
  margin-left: 220px;
  font-size: 12px;
  color: #555555;
  display: block;
  font-style: italic; }

div.boolean, .simple_form input[type='submit'] {
  margin-left: 220px; }

div.boolean label, label.collection_radio {
  float: none;
  margin: 0; }

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px; }

.field_with_errors {
  background-color: #ff3333; }

input.radio {
  margin-right: 5px;
  vertical-align: -3px; }

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px; }

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px; }
