/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

#panel {
  float: left;
  width: 250px;
  height: 100%;
  overflow: auto;
  background-color: white;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
  #panel input {
    width: 100%; }
  #panel ul li {
    padding: 5px; }
    #panel ul li:nth-child(odd) {
      background-color: #eeeeee; }
    #panel ul li:hover {
      background-color: yellow; }
    #panel ul li a {
      color: #333333;
      text-decoration: none; }
      #panel ul li a .id {
        font-family: Courier, monospace;
        font-size: 12px; }
      #panel ul li a .sector, #panel ul li a .use {
        font-size: 10px; }

pre.gql span.gql_operator {
  color: #dad07e; }
  pre.gql span.gql_operator:hover {
    text-decoration: underline; }
pre.gql a.gql_gquery_key {
  color: #71baff; }
pre.gql span.gql_group_key {
  color: #65a735; }

.gql_test_case .matcher {
  position: relative;
  background: #666666;
  color: white;
  font-weight: bold;
  font-size: 100%;
  padding: 3px 6px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 1em;
  font-weight: 10px;
  font-weight: normal; }
  .gql_test_case .matcher.passed {
    background: #009900 !important; }
  .gql_test_case .matcher.failed {
    background: #990000 !important; }
  .gql_test_case .matcher .result {
    position: absolute;
    top: 2px;
    right: 10px; }

#blueprint_layout {
  margin-top: 30px; }

body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 10pt; }
  body h2 small, body h2 small a, body h3 small, body h3 small a {
    font-weight: 10px;
    font-weight: normal; }
  body h2 {
    background: #666666;
    color: white;
    font-weight: bold;
    font-size: 120%;
    padding: 5px 6px 8px;
    margin-bottom: 1em; }
  body h3 {
    background: #888888;
    color: white;
    font-weight: bold;
    font-size: 110%;
    padding: 4px 0px 4px 6px;
    margin-bottom: 1em; }
  body pre {
    background: #333333;
    color: white;
    padding: 10px;
    line-height: 1.2em;
    margin-bottom: 1.2em;
    font-family: Courier, monospace;
    font-size: 12px; }
  body p {
    line-height: 1.2em;
    margin-bottom: 1.2em; }

.simple_form div.input {
  margin-bottom: 10px; }
.simple_form label {
  float: left;
  width: 200px;
  text-align: right;
  margin: 2px 10px; }
.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 220px;
  font-size: 12px; }
.simple_form .hint {
  clear: left;
  margin-left: 220px;
  font-size: 12px;
  color: #555555;
  display: block;
  font-style: italic; }

div.boolean, .simple_form input[type='submit'] {
  margin-left: 220px; }

div.boolean label, label.collection_radio {
  float: none;
  margin: 0; }

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px; }

.field_with_errors {
  background-color: #ff3333; }

input.radio {
  margin-right: 5px;
  vertical-align: -3px; }

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px; }

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px; }

#header {
  background-color: #6a7176;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#6a7176"}, endColorstr="#4d5256");
  background-image: -moz-linear-gradient(center top, #6a7176, #4d5256);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6a7176), to(#4d5256));
  height: 30px;
  color: #cdcdcd;
  line-height: 28px; }
  #header label {
    text-shadow: black 0 1px 0; }
  #header nav ul {
    list-style-type: none; }
    #header nav ul li, #header nav ul a {
      color: #cdcdcd;
      text-shadow: black 0 1px 0; }
    #header nav ul li {
      float: right;
      padding: 0px 5px; }
      #header nav ul li a {
        text-decoration: none; }
        #header nav ul li a:hover {
          color: red; }

#subheader {
  background-color: #c4c4c4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#c4c4c4"}, endColorstr="#b0b1b2");
  background-image: -moz-linear-gradient(center top, #c4c4c4, #b0b1b2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c4c4c4), to(#b0b1b2));
  height: 30px;
  line-height: 20px;
  border-bottom: 1px solid #919191; }
  #subheader nav ul {
    list-style-type: none; }
    #subheader nav ul li {
      padding: 5px 10px 5px 5px;
      float: left;
      border-right: 1px solid #919191; }
      #subheader nav ul li a {
        color: #3a3e41;
        width: 100px;
        text-decoration: none; }
      #subheader nav ul li:hover {
        background-color: white; }

#breadcrumbs {
  background-color: #dfdfdf;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#dfdfdf"}, endColorstr="#cccfd0");
  background-image: -moz-linear-gradient(center top, #dfdfdf, #cccfd0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#cccfd0));
  padding: 5px;
  border-bottom: 1px solid #989898; }
  #breadcrumbs nav a {
    text-decoration: none;
    color: black;
    font-weight: bold; }

section#actions {
  padding: 10px; }

#content {
  clear: both; }
  #content .header {
    color: #5e6469;
    background-color: #efefef;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#efefef"}, endColorstr="#dfe1e2");
    background-image: -moz-linear-gradient(center top, #efefef, #dfe1e2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#dfe1e2));
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    font-weight: bold;
    text-shadow: white 0 1px 0;
    margin-bottom: 10px;
    line-height: 33px;
    height: 35px; }
  #content section.main {
    width: 1000px;
    float: left; }

#footer {
  clear: both; }

#notice {
  background: #009900;
  padding: 5px 10px;
  color: white;
  margin-bottom: 5px; }

section#search_box {
  background-color: #efefef;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#efefef"}, endColorstr="#dfe1e2");
  background-image: -moz-linear-gradient(center top, #efefef, #dfe1e2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#dfe1e2));
  padding: 5px;
  border-bottom: 1px solid #919191; }
  section#search_box input[type=search] {
    width: 200px; }

table {
  margin: 15px;
  border: 1px solid #cccccc; }
  table thead th {
    text-align: center;
    background: #dddddd;
    padding: 5px; }
  table th, table td {
    border: 1px solid #cccccc;
    padding: 3px; }
  table tbody th {
    text-align: left;
    font-weight: normal; }
  table tbody tr:nth-child(odd) {
    background-color: #eeeeee; }
  table tbody td.tar {
    text-align: right; }
  table tbody.numeric_rows td {
    text-align: right; }
