h1 {
  font-family: Georgia, Times New Roman;
  font-weight: normal; }

#overlay_container {
  width: 600px;
  overflow-x: hidden; }
  #overlay_container p {
    display: block;
    float: left; }
    #overlay_container p img {
      float: left; }

#select_charts {
  overflow-x: hidden;
  width: 760px;
  height: 600px;
  overflow-y: auto;
  padding: 20px; }
  #select_charts p label {
    width: 100px;
    float: left; }
  #select_charts a {
    cursor: pointer; }
  #select_charts div:hover {
    background: #dfe8f3; }
  #select_charts h1 {
    clear: both; }
  #select_charts div {
    padding: 10px;
    float: left;
    width: 140px;
    height: 140px;
    margin-right: 20px; }
    #select_charts div h2 {
      font-size: 100%;
      margin: 0; }
    #select_charts div p {
      font-size: 100%;
      color: black; }

#feedback_form {
  padding: 20px;
  width: 500px; }
  #feedback_form p label {
    width: 100px;
    float: left; }
  #feedback_form .errors {
    height: 20px;
    width: 90%;
    color: red; }

#select_curve {
  width: 820px;
  padding: 20px; }
  #select_curve p {
    font-size: 100%;
    color: black; }

#tutorial_wrapper {
  background: transparent;
  overflow: hidden;
  height: 290px;
  width: 930px; }
  #tutorial_wrapper iframe {
    float: left; }
  #tutorial_wrapper h3 {
    padding: 0;
    margin: 8px 0 0 0;
    text-align: center; }
  #tutorial_wrapper p {
    height: 40px; }
  #tutorial_wrapper div {
    background: white;
    float: left;
    width: 450px;
    margin: 0;
    border: 4px solid white; }
  #tutorial_wrapper .left_movie {
    margin-right: 10px; }
