.clear {
  clear: both; }

p.button {
  float: right;
  height: 22px;
  margin: 0px;
  background: #63a1c9;
  border: 1px solid black; }

p.button a.button, p.button input.button {
  background: none;
  border: 0px;
  text-decoration: none;
  color: white; }

a.button, input.button {
  border: 1px solid black;
  padding: 5px 10px;
  background: #63a1c9;
  text-decoration: none;
  color: white; }

a.button:hover, input.button:hover {
  background: #568cb0; }

input {
  font-family: inherit; }

ul#blocks {
  list-style: none;
  width: 680px;
  margin: 30px auto 30px auto;
  height: 250px;
  position: relative; }

ul#blocks li {
  float: left;
  width: 100px;
  border: 1px solid black;
  height: 100px;
  margin-left: 10px;
  position: absolute;
  text-align: center;
  bottom: 10px;
  line-height: 2em;
  background-color: #dfe8f3; }

ul#blocks li a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: block; }

ul#blocks li .number, ul#blocks li .percentage {
  position: absolute;
  top: -2em;
  color: white; }

ul#blocks li .number {
  left: 0px; }

ul#blocks li .percentage {
  right: 0px;
  font-size: small; }

ul#blocks li.active {
  background-color: #63a1c9;
  color: white; }

ul#blocks li.active a {
  color: white;
  text-decoration: none; }

ul#blocks li.active .number {
  color: black; }

ul#blocks li.active .percentage {
  color: #666666; }

ul#blocks li.households {
  left: 0;
  height: 75px; }

ul#blocks li.buildings {
  left: 120px;
  height: 50px; }

ul#blocks li.transport {
  left: 240px;
  height: 90px; }

ul#blocks li.industry {
  left: 360px;
  height: 205px; }

ul#blocks li.agriculture {
  left: 480px;
  height: 25px; }

ul#blocks li.other {
  left: 600px;
  height: 10px; }

#start ul#new_scenario_form, #start ul#existing_scenario_form {
  clear: both;
  float: left;
  display: none;
  width: 304px;
  margin-left: 20px;
  margin-top: 15px; }

#start ul#new_scenario_form h3, #start ul#existing_scenario_form h3 {
  width: 100%; }

#start ul#new_scenario_form select, #start ul#existing_scenario_form select {
  margin-top: 5px; }
