<div class="mb-6 -mt-4 text-center">
  <h2 class="font-semibold pb-2 text-2xl mr-auto"><%= @title %></h2>
  <% unless @subtext.nil? %>
    <p class="text-center mx-6 leading-relaxed text-gray-500"><%= @subtext %></p>
  <% end %>
</div>
