- breadcrumb "Backend"

%h3 System

%table
  %tr
    %td Uptime
    %td= %x{uptime}
  - @cache_stats.each_pair do |store, info|
    %tr
      %th{:colspan => 2} Memcache: #{store}
    - info.each_pair do |k,v|
      %tr
        %td= k
        %td= v
      


