%html
  %head
    = stylesheet_link_tag 'converter_details'
  %body#converter_detail
    - if @converter_present && @converter_future
      :ruby
        @pre = @converter_present.query
        @fut = @converter_future.query
        items = @converter_present.converter_api.relevant_attributes

      = render :partial => "data/converters/details", :locals => {:attr_groups => items}

      - if (@converter_present.groups & [:cost_traditional_heat, :cost_electricity_productions, :cost_heat_pumps, :cost_chps]).empty?
        No converter details specified

      - if @converter_present.converter_api.uses_coal_and_wood_pellets?
        %p
          ** The fuel input mix of this plant can be changed by your slider settings. Doing so changes both technical and cost parameters in this table.
      %p
        For questions about these data, please contact:
        = mail_to 'alexander.wirtz@quintel.com'
    - else
      %p Converter information not available