= render 'subnav'

.header Check if present demand matches demand_expected_value.

%ul
  - @gql.present_graph.nodes.select(&:has_loop?).each do |node|
    %li= link_to node.key, inspect_node_path(:id => node.key)
