<turbo-stream action="update" target="scenario_privacy_setting">
  <template>
    <div class="flex gap-4 items-center">
      <%= render(Identity::ScenarioPrivacyComponent.new(private: current_user.private_scenarios?)) %>
      <span
        class="
          font-medium
          text-emerald-600
          inline-flex
          gap-1
          items-center
        "
        data-controller="fade-out"
      >
        <%= inline_svg_tag 'hero/20/circle-check.svg' %>
        <%= t('identity.settings.update_preference.saved') %>
      </span>
    </div>
  </template>
</turbo-stream>
