#panel
  %input#search{:'data-search_scope' => 'inputs', :type => 'search'}
  .tree
    %ul
      = cache("input_list") do
        - Input.all.each do |i|
          %li{:'data-search' => [i.id, i.key]}
            %a{:href => edit_data_input_path(:id => i)}
              %span.id== ##{i.id}
              %span.key= i.key
