- breadcrumb "Inputs"
= render 'search_box'
.header Inputs

%table
  %thead
    %th Id
    %th Key
    %th
  %tbody
    - @inputs.each do |i|
      %tr
        %td= i.id
        %td= link_to highlight(i.key, params[:q]), edit_data_input_path(:id => i.id)

%p= link_to 'Create new input', new_data_input_path
