= render "data/shared/data_subnav"

.row
  .span12
    .page-header
      %h2 input #{@input.key}

    .alert.alert-warning Inputs have to be edited through ETsource.

    %table.table.table-condensed
      - Input::ATTRIBUTES.each do |attr|
        %tr
          %td= attr
          %td= highlight @input.send(attr).to_s, params[:highlight]
