%h2 Search

%h3 Gqueries

- if @gqueries
  #{@gqueries.count} results found

  %table
    - @gqueries.each do |g|
      %tr
        %td= link_to highlight(g.key, params[:search]), inspect_gquery_path(id: g.key)
- else

  No gqueries found

%h3 Nodes

- if @nodes

  #{@nodes.count} results found

  %table
    - @nodes.each do |c|
      %tr
        %td= link_to highlight(c.key.to_s, params[:search]), inspect_node_path(id: c.key)

- else

  No Nodes found
