%table.table.table-condensed.table-striped
  %thead
    %tr
      %th
      %th Value*
      %th Unit
  - @values.each do |group,attrs|
    %thead
      %tr
        %th.attribute_group{colspan: 3}
          = group.capitalize

    %tbody
      - attrs.andand.each do |key,value|
        %tr
          %td.method_name{'data-method-name' => key}= value.first
          %td{:title => title_tag_number(@fut.send(key))}= simple_auto_number(@fut.send(key),value.last)
          %td= value.last

%em * Values are for one typical unit (future value)
