%table.table.table-condensed
  -#%thead
    %tr
      %th Name
      %th Value*
      %th Unit

  - @values.each do |group,attrs|
    %thead
      %tr
        %th{style: "background: #eee"}
          %h4= group.capitalize
        %th{style: "background: #eee"} Value*
        %th{style: "background: #eee"} Unit

    %tbody
      - attrs.andand.each do |key,value|
        %tr
          %th.method_name{'data-method-name' => key}= value.first
          %td{:title => title_tag_number(@fut.send(key))}= simple_auto_number(@fut.send(key),value.last)
          %td= value.last

* Values are for one typical unit (future value)