%section#search_box
  = form_tag data_converters_path, :method => :get do
    = search_field_tag :q, params[:q]
    = select_tag 'group_id', options_from_collection_for_select(Group.all, :id, :key, params[:group_id]), :include_blank => true
    
    = submit_tag "search"