= form_tag data_converters_path, :method => :get, :class => "form form-inline", :style => 'display: inline' do
  =# search_field_tag :q, params[:q], :placeholder => 'search'
  = select_tag 'group_id',                                                  |
    options_from_collection_for_select(Group.all.sort_by(&:key), :id, :key, |
    params[:group_id]), :include_blank => '-- group --'                     |
  = submit_tag "search", :class => 'btn'
- content_for :footer do
  :javascript
    $(function(){
      $("input#q").autocomplete({
        source: #{converters_autocomplete_map_cache},
        select: function(event, ui) { window.location.href = ui.item.url }
      });
    });
