development: &DEV
    # etsource folder. Default is APP/etsource (deprecated)
    # this is where the working revisions will be exported to
    etsource_export: /u/apps/etengine/etsource

    # etsource working copy - directory you've git cloned to
    etsource_working_copy: /u/apps/etsource

    # if for some reason you don't want to clear the etsource_export directory
    etsource_disable_export: false

    # include etsource wizards from input tool. This is still experimental. This will default to false if not set. It is dangerous
    # because people can input research datasets which will screw up the normal flow of
    # calculations.
    etsource_load_wizards: true # set false for 'live' servers

    # Setting this to true caches the dataset in between requests. set to false
    # makes working with etsource easier.
    etsource_cache_dataset: false # set true for 'live' releases

    # URL to be called after a clean etsource import
    # Usually you would set something like
    # http://beta.et-model.com/pages/refresh_gqueries
    client_refresh_url:

    # set to true if the server won't have online access. this disables google
    # analytics, airbrake etc.
    standalone: false

production:
    <<: *DEV
    airbrake_api_key: '3ea5a72aad48a32d7bb486bc71ad4fd5'

test:
    <<: *DEV
