development: &DEV
    debug_qernel: true
    # etsource folder. Default is APP/etsource (deprecated)
    etsource_dir:
    # URL to be called after a clean etsource import
		client_refresh_url:

production:
    <<: *DEV
    debug_qernel: false
    airbrake_api_key: '3ea5a72aad48a32d7bb486bc71ad4fd5'

test:
    <<: *DEV
