#panel.panel.panel_tree{:style => "width: 300px; float: left"}
  .header
    %div
      %table
        %tr
          %td
            %input#search{:'data-search_scope' => 'areas'}

  .tree
    = cache("data/#{params[:blueprint_id]}/#{params{:region_code}}/areas/_list/") do
      %ul
        - Area.all.each do |area|
          %li.level_0{:'data-search' => area.region_code}
            .content
              %h1
                = link_to area.region_code, data_area_path(area)
