%section#search_box
  = form_tag data_areas_path, :method => :get do
    = search_field_tag :q, params[:q], :placeholder => 'search'
    = submit_tag "search"
- content_for :footer do
  :ruby
    area_autocomplete = Area.all.map {|a| {label: a.country, url: data_area_path(:id => a.id)} }
  :javascript
    $(function(){
      $("input#q").autocomplete({
        source: #{area_autocomplete.to_json},
        select: function(event, ui) { window.location.href = ui.item.url }
      });
    });
