- breadcrumb link_to "Areas", data_areas_path
- breadcrumb link_to @area.region_code, data_area_path(:id => @area.id)
- breadcrumb 'edit'

= notice_message

%p
  %strong Attention:
  %em changing area data requires restarting the server.

= render 'form'

= render "/data/shared/revisions", :versioned => @area
