= render 'search_box'

%table
  %thead
    %tr
      %td Id
      %td Area
      %td
  %tbody
    - @areas.each do |a|
      %tr
        %td= a.id
        %td= link_to highlight(a.region_code, params[:q]), data_area_path(:id => a.id)
        %td= link_to 'edit', edit_data_area_path(:id => a.id)
