%p
  = link_to 'Back', mechanical_turk_turks_path
%form{:action => '/mechanical_turk/factory', :method => 'post'}
  %h4 Copy/paste JSON
  %p
    %textarea.span10{:name => 'json_data', :rows => 20}
  %p
    = submit_tag('Create Turkey', :class => 'btn-success')
