%section#search_box
  = form_tag inspect_nodes_path, :method => :get do
    = search_field_tag :q, params[:q], :placeholder => 'search'
    = submit_tag "search"
- content_for :footer do
  :javascript
    $(function(){
      $("input#q").autocomplete({
        source: #{carriers_autocomplete_map_cache},
        select: function(event, ui) { window.location.href = ui.item.url }
      });
    });
