#dumpModal.modal.hide.fade
  .modal-header
    %button.close{'data-dismiss' => 'modal'} ×
    %h3 Download Scenarios

  = form_tag dump_inspect_scenarios_path,
             method: :get,
             local: true,
             data: { turbo: false },
             id: 'dump_form',
             class: 'form-inline' do

    .modal-body
      = label_tag :scenario_ids, 'Scenario IDs (comma-separated)', class: 'inline-label'
      = text_field_tag :scenario_ids,
                       params[:scenario_ids],
                       placeholder: 'e.g. 1034534, 234573, etc',
                       id: 'modal_scenario_ids',
                       class: 'input-medium form-control'

    .modal-footer
      = submit_tag 'Download Dump', class: 'btn btn-primary'
