- content_for(:title, 'Edit scenario')

- breadcrumb link_to 'Scenarios', inspect_scenarios_path
- breadcrumb link_to @scenario.title, inspect_scenario_path(:id => @scenario)
- breadcrumb 'edit'

= render 'form'
