#debugger.row-fluid

  -# RAW LOGS 
    %pre= @logs.join("\n")
  - @method_definitions = Set.new
  .span12{:style => 'font-family: Courier New'}
    - log_tree

          
  .modals   
    - @method_definitions.each do |method_name|
      .modal.hide{:id => method_name, :style => 'width: 800px'}
        .modal-header
          %h4= method_name
        .modal-body
          %pre.prettyprint.method-source= method_source(method_name)
        .modal-footer
          %a.btn{:href => '#', :'data-dismiss' => 'modal'} Close

:javascript
  $('span[rel=modal]').modal({show: false, backdrop: false});

  $('.fold_all'  ).bind('click', function() { fold_all(this)} );
  $('.unfold_toggle').bind('click', function() { unfold_toggle(this)} );
  $('.unfold_all').bind('click', function() { expand_all(this)} );
  $('.unfold_1'  ).bind('click', function() { expand_1(this)} );
  $('.unfold_2'  ).bind('click', function() { expand_2(this)} );

  function unfold_toggle(el) {
    var parent = $(el).closest('li');
    if (parent.attr('data-folding') == 'folded') {
      expand_all(el);
    } else {
      fold_all(el);
    }
  }

  function expand_1(el) {
    var parent = $(el).closest('li');
    fold_all(el);
    parent.attr('data-folding', 'unfolded_1')
    $('> ul', parent).show();
  }
  function expand_2(el) {
    var parent = $(el).closest('li');
    expand_1(el)
    $('> ul > ul', parent).show();
  }
  function expand_all(el) {
    var parent = $(el).closest('li');
    parent.attr('data-folding', 'unfolded')
    $('ul', parent).show();
  }
  function fold_all(el) {
    var parent = $(el).closest('li');
    parent.attr('data-folding', 'folded')
    $('ul', parent).hide();
  }
  //$("tr").hide();
  //$("tr.nesting_1").show();
  //$("tr.nesting_2").show();