<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Quintel</string>
	<key>ordering</key>
	<array>
		<string>C6AB463D-D585-4B69-8F9D-3B0DDF6E28D1</string>
	</array>
	<key>uuid</key>
	<string>F3E79CD1-2793-45E7-B8E7-2FFDE0B0F707</string>
</dict>
</plist>
