%table
  %thead
    %tr
      %th Name
      %th Value*
      %th Unit
  - Qernel::ConverterApi::HEAT_PUMP_VALUES.each do |group,attrs|
    %thead
      %tr
        %th{:colspan=>3}= group.capitalize
    %tbody
      - attrs.each do |key,value|
        %tr
          %td= value.first
          %td{:title => title_tag_number(@fut.send(key))}= auto_number(@fut.send(key))
          %td= value.last
        
* Value is future value