@import 'bootstrap'
@import 'debugger'
@import 'bootstrap-styles'
@import 'highlightjs-github'
@import 'checks'
@import 'gem-info'
@import 'etsource'

.future-edges, .present-edges
  h2 a
    font-size: 12px
    text-transform: uppercase
    margin-left: 10px
    padding: 5px
    &:hover
      text-decoration: none

.brand .server
  font-size: 11px
  text-transform: uppercase
  font-weight: bold

  &.production
    color: #d74343
  &.beta
    color: #f0c000
  &.local
    color: #999

.slot-unit
  color: #666
  display: block
  font-size: 11px

th.input-demand, th.output-demand
  font-weight: normal
  color: #888

th.output-demand
  text-align: right
