@import 'bootstrap'
@import 'node'
@import 'debugger'
@import 'bootstrap-styles'
@import 'highlightjs-github'
@import 'checks'
@import 'gem-info'
@import 'etsource'

.future-edges, .present-edges
  h2 a
    font-size: 12px
    text-transform: uppercase
    margin-left: 10px
    padding: 5px
    &:hover
      text-decoration: none

.brand .server
  font-size: 11px
  text-transform: uppercase
  font-weight: bold

  &.production
    color: #d74343
  &.beta
    color: #f0c000
  &.local
    color: #999

.slot-unit
  color: #666
  display: block
  font-size: 11px

th.input-demand, th.output-demand
  font-weight: normal
  color: #888

th.output-demand
  text-align: right

.node-flows
  text-align: center
  .node-flows-inner
    display: inline-block
    text-align: left
  .energy, .delta
    float: left
  .energy
    min-width: 300px
    padding-right: 30px
  td:first-child
    vertical-align: middle
  .present, .future
    margin: 0.5rem 0
    position: relative
  .input, .output, .demand, .name
    background: white
    box-sizing: border-box
    display: inline-block
    min-width: 80px
    padding: 5px 8px 4px
    text-align: center
  .name
    background: none
    color: #999
    text-align: left
  .input, .output
    border-radius: 3px
    border: 1px solid #ddd
  .demand
    background: #444
    border-radius: 3px
    color: #fff
    margin: 1px 2px 0
  .present
    color: #999
    .demand
      background: #aaa
  .delta
    background: #eee
    border-radius: 3px
    font-size: 1rem
    padding: 8px
    color: #444
    margin-top: 22px

.edge-flows
  .nav-tabs
    font-size: 16px
    .active
      font-weight: bold

.node-attrs
  font-family: monospace
  font-size: 12px
  margin-bottom: -0.5em
  overflow: hidden
  .attribute
    border: 1px solid #ddd
    border-radius: 3px
    float: left
    margin: 0 0.5em 0.5em 0
    white-space: nowrap
  .key, .value
    display: inline-block
    padding: 3px 6px 2px
  .key
    background: #ddd
  .sub-attribute:not(:last-child)
    border-right: 1px solid #ccc
    margin-right: 0.5em

.node-list
  td.buttons
    white-space: nowrap

.subnav
  ul.nav.nav-pills
    margin-left: 9px

section#search_box
  form
    input, label
      line-height: 18px
      margin-bottom: 0
      vertical-align: middle

    input#q
      margin-right: 7px

    label
      display: inline
      margin-right: 7px

      &:hover
        cursor: pointer

pre.backtrace
  background: none
  border: none
  border-radius: 0
  padding: 0
  white-space: pre

.import-warning
  position: relative
  text-shadow: none

.simple_form
  label
    font-weight: bold
  .field_with_errors
    textarea, input, select
      border-color: #b94a48
    label
      color: #b94a48
  .error
    color: #b94a48
    display: block
    margin-bottom: 10px

table.scenario-list
  tbody td:first-child
  tr.active td
    background: #e6f5e7
    &:first-child
      font-weight: bold
    .tag
      background: #38a03b
      border-radius: 3px
      color: #fff
      font-size: 11px
      font-weight: normal
      line-height: 1
      margin-left: 0.4em
      padding: 3px 4px
      text-transform: uppercase
