@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm;
    @apply text-gray-800;

    overflow-y: scroll;
  }

  a {
    @apply text-midnight-600 hover:text-midnight-800 active:text-midnight-800;
  }
}

@layer components {
  /**
   * Floating Fields -------------------------------------------------------------------------------
   */

  .floating-label-field {
    @apply relative;
  }

  .floating-label-field input {
    @apply border-2 border-gray-300;
    @apply placeholder-transparent;
    @apply px-4 py-3;
    @apply rounded;
    @apply transition;

    @apply focus:border-midnight-500;
    @apply focus:ring-0;

    outline: none;
    width: 100%;
  }

  .floating-label-field button.toggle-reveal-password {
    top: 0.75rem !important;
  }

  /**
   * Modal -----------------------------------------------------------------------------------------
   */

  @keyframes modal-backdrop-enter {
    from {
      @apply bg-gray-900/0 backdrop-blur-none;
    }

    to {
      @apply bg-gray-900/75 backdrop-blur-sm;
    }
  }

  @keyframes modal-backdrop-leave {
    from {
      @apply bg-gray-900/75 backdrop-blur-sm;
    }

    to {
      @apply bg-gray-900/0 backdrop-blur-none;
    }
  }

  .modal-backdrop {
    @apply bg-gray-900/75 backdrop-blur-sm transition;

    animation-iteration-count: 1;
    animation: modal-backdrop-enter 0.15s ease-in-out;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 40;
  }

  .modal-backdrop.modal-backdrop-leave {
    @apply bg-gray-900/0 backdrop-blur-none;
    animation-name: modal-backdrop-leave;
  }

  @keyframes modal-enter {
    from {
      opacity: 0;
      transform: scale(0.9);
    }

    to {
      opacity: 1;
      transform: scale(1.0);
    }
  }

  @keyframes modal-leave {
    from {
      opacity: 1;
      transform: scale(1.0);
    }

    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }

  .modal {
    @apply bg-white rounded-md shadow-xl text-sm;

    animation-iteration-count: 1;
    animation: modal-enter 0.15s ease-in-out;
    opacity: 1;
    transform: scale(1.0) translateY(0px);
    width: 500px;
    z-index: 50;
  }

  .modal.modal-leave {
    animation-name: modal-leave;
    opacity: 0;
  }

  .modal-wrapper {
    @apply py-12;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: fill-available;
    justify-content: start;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 50;
  }

  /**
   * Buttons ---------------------------------------------------------------------------------------
   */

  .button {
    @apply cursor-pointer font-medium inline-flex items-center rounded-md transition;
    @apply disabled:pointer-events-none disabled:opacity-50;
    @apply focus-visible:ring-2 focus-visible:outline-none;
  }

  .button-default, .button-colored {
    @apply text-gray-700 bg-white;
    @apply hover:text-gray-700 hover:bg-gray-100;
    @apply active:text-gray-700 active:bg-gray-200;

    @apply focus-visible:ring-midnight-500;

    box-shadow: inset 0 0 0 1px rgb(0, 0, 0, 0.12), inset 0 -1px 0 0 rgb(0, 0, 0, 0.1), 0 1px 2px 0 rgb(0, 0, 0, 0.08);
  }

  .button-default:active, .button-colored:active {
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0, 0.12), inset 0 -1px 0 0 rgb(0, 0, 0, 0.0), 0 0 0 0 rgb(0, 0, 0, 0.0);
  }

  .button-colored {
    @apply text-midnight-700;
  }

  .button-link {
    @apply text-midnight-700 bg-transparent;
    @apply hover:text-gray-700 hover:bg-gray-100;
    @apply active:text-gray-700 active:bg-gray-200;

    @apply focus-visible:ring-midnight-500;
  }

  .button-success {
    @apply text-emerald-50 bg-emerald-600;
    @apply hover:text-emerald-50 hover:bg-emerald-700;
    @apply active:text-emerald-50 active:bg-emerald-800;

    @apply focus-visible:ring-emerald-800;

  }

  .button-primary {
    @apply text-midnight-50 bg-midnight-600;
    @apply hover:text-midnight-50 hover:bg-midnight-700;
    @apply active:text-midnight-50 active:bg-midnight-800;

    @apply focus-visible:ring-midnight-800;
  }

  .button-gray {
    @apply text-gray-700 bg-gray-200;
    @apply hover:text-gray-700 hover:bg-gray-300;
    @apply active:text-gray-800 active:bg-gray-350;

    @apply focus-visible:ring-midnight-600;
  }

  /**
   * Toasts ----------------------------------------------------------------------------------------
   */

   @keyframes toast-enter {
    from {
      opacity: 0;
      transform: scale(0.8) translateY(1rem);
    }

    50% {
      transform: scale(1.05) translateY(-0.25rem);
    }

    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .toast {
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-name: toast-enter;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /**
   * Forms -----------------------------------------------------------------------------------------
   */

  .field {
    @apply transition ring-1 ring-gray-300 rounded;
    @apply focus:ring-2 focus:ring-midnight-500;
    @apply active:enabled:ring-2 active:enabled:ring-midnight-500;

    width: 100%;
    border: none;
  }

  .form-steps {
    counter-reset: form-steps;
  }

  .form-steps .row label {
    align-items: center;
    display: flex;
    white-space: nowrap;
  }

  .form-steps .row.numbered label::before {
    @apply h-7 w-7 bg-gray-400 text-gray-50 text-sm rounded-full mr-3 -ml-10;

    align-items: center;
    content: counter(form-steps);
    counter-increment: form-steps;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
  }

  .form-steps .row label::after {
    @apply bg-gradient-to-r from-gray-200 via-gray-200 to-transparent ml-3;

    content: " ";
    display: block;
    height: 1px;
    width: 100%;
  }
}
