body
  font-family: Helvetica, Arial
  #instructions
    position: absolute
    border: 1px solid black
    background: orange
    width: 450px
    height: 280px
    top: 10px
    left: 10px
    z-index: 99999
    cursor: move
  #canvas
    width: 100%
    height: 100%

