%section.main
  .header GQL Test Suites

  %p
    = link_to "Create test suite", new_data_gql_test_case_path


  %table
    - @gql_test_cases.each do |gql_test_case|
      %tr
        %td= link_to gql_test_case.name, data_gql_test_case_path(:id => gql_test_case.id)
        %td= link_to 'edit', edit_data_gql_test_case_path(:id => gql_test_case.id)
        %td= gql_test_case.updated_at
