<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm Your Account</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }
    .container {
      max-width: 700px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 8px;
      padding: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
      margin-bottom: 30px;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4D99E4;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
    .btn-container {
      text-align: center;
      margin-top: 30px;
    }
    .confirmation-url {
      margin-top: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
        <img src="<%= asset_path('inverted_logo.png') %>" alt="Logo" class="logo">
        <h1>Welcome</h1>
        <p>You must confirm your account through the link below to finish setting up.</p>
    </div>
    <div class="btn-container">
      <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" class="btn">Activate My Account</a>
    </div>
    <div class="confirmation-url">
      <p>If the button above does not work, you can copy and paste the following link into your browser:</p>
      <p><%= confirmation_url(@resource, confirmation_token: @token) %></p>
    </div>
  </div>
</body>
</html>
