- breadcrumb link_to("Forms", input_tool_wizards_path)
- breadcrumb @area_code
- breadcrumb @form.code
- breadcrumb 'Compiled transformer.yml'

.row
  .span16
    .page-header
      %h2
        Output:
        = @form.code
    %p
      = link_to 'back', input_tool_wizard_path(:id => @form.code), :class => 'btn primary'

  
    %pre= @wizard.compiled_transformer_file_content(@area_code)