- breadcrumb link_to("Forms", input_tool_wizards_path)
- breadcrumb @area_code
- breadcrumb @form.code

.row
  .span16
    .page-header
      %h2
        = @form.code
    %p
      = link_to 'compiled transformer.yml', compiled_input_tool_wizard_path(@form.id), :class => 'btn'

  = render 'form'