- breadcrumb link_to("Forms", input_tool_wizards_path)
- breadcrumb @area_code

.row

.hero-unit
  %h2 Saved Wizards
  %p
    Forms you can edit. At the moment only the sheet "households" from Marks input database is available. 
  %ul
    - @new_wizard_codes.each do |form_code|
      %li
        %span.label New
        %strong= link_to form_code, new_input_tool_wizard_path(:code => form_code)

    - @saved_wizards.each do |form|
      %li
        %span.label.warning Saved
        %strong= link_to form.code, edit_input_tool_wizard_path(:id => form)
        = link_to 'delete', input_tool_wizard_path(:id => form), :method => :delete
  %p
    The 3 stages of a form:
  %ul
    %li
      %span.label New 
      Virgin, untouched form. 
    %li 
      %span.label.warning Saved
      A researchers has filled in values (does not mean it's complete).
    %li 
      %span.label.success Commited
      Commited to Git. At any point we can revert back to any point in time.

  %h4 Switch Country
  %p
    - Etsource::Dataset.region_codes.sort.each do |region_code|
      %small= link_to(region_code, input_tool_wizards_path(area_code: region_code))+", "


.row
  .span16
    .actions
      %form
        %h4 
          Finalize & Commit changes
          %span.label Coming soon

        %p
          This will permanently store, backup the current state. A commit makes changes auditable and revertable (go back in time). Only commited changes can go into production. 
        %p
          %textarea.span8{:placeholder => 'The commit message.' }

        %button.btn.primary Commit
        %button.btn See changes