#canvas
:javascript
  var node_url_prefix = "#{inspect_nodes_path()}";
  var update_node_positions_path = "#{inspect_layout_path}";
  var data;

  $.getJSON(inspect_json_url, function(json_data) {
    data = json_data;
    for (var node_key in data['present']) {
      for (var key in data['present'][node_key]) {
        $('#attribute').append($('<option></option>').val(key).html(key));
      }
      // We only need to use the first element to build the list of attributes
      break;
    }
  })
  $(function(){
    $("#instructions").draggable();
  });

  #{render partial: 'topology.js', formats: [:js]}
