// GRAPH is uppercase to make it obvious that it is in global namespace!
var GRAPH = new Graph();

<%
converter_keys = @converters.map(&:key)

@converters.each do |converter|
  position = positions.find(converter)
  params = [converter.key,
            position[:x],
            position[:y],
            converter.sector_key,
            converter.use_key,
            false,
            ConverterPositions::FILL_COLORS[converter.sector_key] || '#FFF',
            '#999']
-%>
<%= "new Converter(#{params.to_json});".html_safe %>
<% end %>


<% @converters.map(&:input_links).flatten.uniq.each do |link|
  if converter_keys.include?(link.lft_converter.key) and converter_keys.include?(link.rgt_converter.key)
    params = [
      link.rgt_converter.key,
      link.lft_converter.key,
      (link.carrier.graphviz_color || '#999'),
      '1|-'   #"1|#{link.link_style}"
    ]
    -%>
    <%= "new Link(#{params.to_json});".html_safe %>
  <% end %>
<% end %>

GRAPH.draw();

if ('btoa' in window) {
  var instructionsEl = $('#instructions');
  var link = $('<a href="#">Download SVG</a>')

  instructionsEl.find('ul').append($('<li></li>').append(link));

  link.click(function(event) {
    event.preventDefault();

    var a = document.createElement('a'),
      content = $('svg').html(),
      encoded;

    content = '<svg xmlns="http://www.w3.org/2000/svg" version="1.1">' +
      content.replace(/ë/, 'e') + '</svg>';

    encoded = btoa(content);

    a.href = 'data:image/svg+xml;base64,\n' + encoded;

    a.setAttribute('href-lang', 'image/svg+xml');
    a.setAttribute('download', 'graph.svg');

    document.body.appendChild(a);

    setTimeout(function() {
      a.click();
      document.body.removeChild(a);
    }, 66);
  });
}
