// GRAPH is uppercase to make it obvious that it is in global namespace!
var GRAPH = new Graph();

<%
node_keys = @nodes.map(&:key)

@nodes.each do |node|
  position = positions.find(node)
  params = [node.key,
            position[:x],
            position[:y],
            node.sector_key,
            node.use_key,
            false,
            NodePositions::FILL_COLORS[node.sector_key] || '#FFF',
            '#999']
-%>
<%= "new Node(#{params.to_json});".html_safe %>
<% end %>


<% @nodes.map(&:input_edges).flatten.uniq.each do |edge|
  if node_keys.include?(edge.lft_node.key) and node_keys.include?(edge.rgt_node.key)
    params = [
      edge.rgt_node.key,
      edge.lft_node.key,
      (edge.carrier.graphviz_color || '#999'),
      '1|-'   #"1|#{edge.edge_style}"
    ]
    -%>
    <%= "new Edge(#{params.to_json});".html_safe %>
  <% end %>
<% end %>

GRAPH.draw(function() {
  $('#loading').remove();
});

if ('btoa' in window) {
  var instructionsEl = $('#instructions');
  var edge = $('<a href="#">Download SVG</a>')

  instructionsEl.find('li.edges ul').append($('<li></li>').append(edge));

  edge.click(function(event) {
    event.preventDefault();

    var a = document.createElement('a'),
      content = $('svg').html(),
      encoded;

    content = '<svg xmlns="http://www.w3.org/2000/svg" version="1.1">' +
      content.replace(/ë/, 'e') + '</svg>';

    encoded = btoa(content);

    a.href = 'data:image/svg+xml;base64,\n' + encoded;

    a.setAttribute('href-lang', 'image/svg+xml');
    a.setAttribute('download', 'graph.svg');

    document.body.appendChild(a);

    setTimeout(function() {
      a.click();
      document.body.removeChild(a);
    }, 66);
  });
}
