%strong#graph_saving Saving...

= render partial: 'controls', locals: { show_actions: true }
= render partial: 'loading'

:javascript
  var inspect_json_url = "#{edit_inspect_layout_path(:format => 'json')}";

= render 'initialize_graph'

:javascript
  window.requiresPositionExport = false;

  function update_positions(callback) {
    $('#graph_saving').text('Saving...').show();
    $.ajax({
      type: 'PUT',
      url: update_node_positions_path,
      data: {'node_positions' : GRAPH.getUpdatedValues()},
      success: function(data) {
        $('#graph_saving').fadeOut();
        GRAPH.updated_coordinates = {};

        window.requiresPositionExport = true;

        if (callback) {
          callback();
        }
      },
      error: function(data) { $('#graph_saving').text('ERROR'); }
    });

    return false;
  };

  function save_changes() {
    update_positions(function() {
      alert(
        "New positions saved to ETSource at config/node_positions.yml. " +
        "Don't forget to commit the changes!"
      )
    });
  }

  function update_and_download() {
    update_positions(function() {
      window.location.pathname =
        window.location.pathname.replace(/edit$/, 'yaml');

      window.requiresPositionExport = false;
    });

    return false;
  }

  $(window).on('beforeunload', function() {
    $('.actions a:first').addClass('glow');

    if (window.requiresPositionExport) {
      return "You haven't saved the node position YAML. You need to save " +
             "the node positions and commit the change in ETSource otherwise " +
             "your changes will be lost."
    }
  });

  GRAPH.enableDragging();
