- title "Query Tables"

%table
  %tr
    %th Name
    %th Description
  - for query_table in @query_tables
    %tr
      %td= link_to h(query_table.name), data_query_table_path(:id => query_table.id)
      %td= h(query_table.description)

%p= link_to "New Query Table", new_data_query_table_path
