= render "data/shared/data_subnav"

%h1
  Merit Order

%p
  = link_to "Download CSV with load curves for the current scenario",
    data_merit_download_path
  = link_to "Download CSV with price curves for the current scenario",
    data_merit_price_download_path
