= render "data/shared/data_subnav"

%h1
  Merit Order

%ul(style="margin-top: 1em; font-size: 14px")
  %li(style="margin-bottom: .25em")
    = link_to "Participant load curves",
      api_v3_scenario_merit_download_path(scenario_id: @api_scenario.id, format: 'csv')
  %li
    = link_to "Price curves",
      api_v3_scenario_merit_price_download_path(scenario_id: @api_scenario.id, format: 'csv')
