%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Optimizer | Energy Transition Model
    = stylesheet_link_tag 'optimizer', 'table.zebra', 'footer', 'constraints.css', :cache => asset_cache_name('optimizer_all')
    = sprocket_layout_init :optimizer
  
    = init_etm_javascript_framework
    
  %body= yield